.subject {
    border: 1px solid black;
    box-shadow: 0 3px 5px grey;
    position: relative;
    margin: 4rem 10rem;
    padding: 2rem;
    width: 40%;
    text-align: justify;
}

.subject div strong:hover{
    color: lightskyblue;
    cursor: grab;
}

.subject div{
    margin: 5px;
}

.subject a{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    background-color: rgb(75, 75, 75);
}

.subject a:hover{
    background-color: rgb(114, 127, 128);
}