.subject {
    border: 1px solid black;
    box-shadow: 0 3px 5px grey;
    position: relative;
    margin: 4rem 10rem;
    padding: 2rem;
    width: 40%;
    text-align: justify;
    transition: all 0.5s ease;
    background-color: rgba(22, 22, 22, 0.911);
    color: white;
    animation: wiggle 1s ease infinite;
}

@keyframes wiggle{
    0%{
        transform: rotateZ(-1deg);
    }
    50%{
        transform: rotateZ(1deg);
    }
    100%{
        transform: rotateZ(-1deg);
    }
}


.subject:hover{
    transform: translateY(-8px);
    animation: backchanger 1s ease infinite;
}

@keyframes backchanger{
    0%{
    box-shadow: 0 0 5px rgb(124, 218, 255), 
    0 0 15px rgb(124, 218, 255), 
    0 0 35px rgb(124, 218, 255) ;
    }
    25%{
        box-shadow: 0 0 5px rgb(124, 255, 168), 
        0 0 15px rgb(124, 255, 168), 
        0 0 35px rgb(124, 255, 168) ;
    }
    50%{
        box-shadow: 0 0 5px rgb(242, 255, 124), 
        0 0 15px rgb(242, 255, 124), 
        0 0 35px rgb(242, 255, 124) ;
    }
    75%{
        box-shadow: 0 0 5px rgb(255, 133, 124), 
        0 0 15px rgb(255, 133, 124), 
        0 0 35px rgb(255, 133, 124) ;
    }
    100%{
        box-shadow: 0 0 5px rgb(148, 124, 255), 
        0 0 15px rgb(148, 124, 255), 
        0 0 35px rgb(148, 124, 255) ;
    }
}

.subject div strong:hover{
    color: lightskyblue;
    cursor: grab;
}

.subject div{
    margin: 5px;
}

.subject a{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    background-color: rgb(75, 75, 75);
}

.subject a:hover{
    background-color: rgb(173, 188, 189);
    color: black;
}