.navbar{
    width: 100%;
    background-color: honeydew;
}

.navbar ul{
    list-style: none;
    display: flex;
    background-color: rgb(0, 8, 8);
}

.navbar ul li{
    margin: 1rem;
}

.navbar a{
    text-decoration: none;
    color: rgb(199, 199, 199);
}

.navbar a:hover{
    color: rgb(255, 255, 255);
}

